body {
	margin: 0px;
	background-color: #24273f;
}

.nav_bar {
	background-color: #161931;
	height : 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav_bar_content {
    display: flex;
    align-items: center;
}

.nav_bar_logo {
	width: 50px;
	height: 50px;
	margin-left: 15px;
}

.nav_bar_title {
	color: #d9dae2;
	font-family: "Ubuntu", sans-serif;
	font-size: 20px;
	margin-left: 15px;
}

.nav_bar_elements {
    display: flex;
    align-items: center;
}

.nav_bar_elements a {
    color: #d9dae2;
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    font-size: 17px;
    margin-right: 20px;
}

.title {
	color: #d9dae2;
	font-family: "Ubuntu", sans-serif;
}

.title h1 {
	font-size: 75px;
	text-align: center;
	margin-bottom: 10px;
}

.title h2 {
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
}

.icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 200px;
	margin-left: 200px;
	margin-right: 200px; 
}

.icons a {
	color: #d9dae2;
    font-family: "Ubuntu", sans-serif;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
}

.icons img {
	width: 175px;
	height: 175px;
}

.footer {
	background-color: #161931;
	height: 20px;
	position: fixed;
	bottom: 0px;
	width: 100%;
}