.team {
  flex-direction: column;
  display: flex;
  align-items: left;
  gap: 3rem;
}

.team_members {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  color: #e2e8f0;
  transition: color 0.3s ease;
}

.team img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .team_members {
    flex-direction: column;
  }
}
