.delete {
  padding: 2rem;
  flex-direction: column;
  display: flex;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: #1e293b;
}

.delete h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  color: #e2e8f0;
}

.delete label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #e2e8f0;
}

.delete input[type="text"] {
  font-family: "Ubuntu", sans-serif;
  padding: 5px;
  margin-bottom: 10px;
}

.delete input[type="submit"] {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  background: #13a5e9;
  color: white;
  transition: background 0.3s ease;
  cursor: pointer;
}

.delete input[type="submit"]:hover {
  background: #38bdf8;
}
