.cgi_get {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background-color: #d9dae2;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cgi_get h1 {
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 35px;
	text-align: center;
}

.cgi_get form {
	display: flex;
	flex-direction: column;
}

.cgi_get label {
	color: #555;
	font-family: "Ubuntu", sans-serif;
	margin-bottom: 10px;
	font-weight: bold;
}

.cgi_get input[type="text"] {
	font-family: "Ubuntu", sans-serif;
	padding: 5px;
	margin-bottom: 10px;
}

.cgi_get input[type="submit"] {
	background-color: #8c49e3;
	color: #fff;
	font-family: "Ubuntu", sans-serif;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.cgi_get input[type="submit"]:hover {
	background-color: #44406d;
}

.cgi_post {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background-color: #d9dae2;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cgi_post h1 {
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 35px;
	text-align: center;
}

.cgi_post form {
	display: flex;
	flex-direction: column;
}

.cgi_post label {
	color: #555;
	font-family: "Ubuntu", sans-serif;
	margin-bottom: 10px;
	font-weight: bold;
}

.cgi_post input[type="text"] {
	font-family: "Ubuntu", sans-serif;
	padding: 5px;
	margin-bottom: 10px;
}

.cgi_post input[type="submit"] {
	background-color: #8c49e3;
	color: #fff;
	font-family: "Ubuntu", sans-serif;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.cgi_post input[type="submit"]:hover {
	background-color: #44406d;
}