.weather {
	max-width: 600px;
	margin: 25px auto;
	padding: 20px;
	background-color: #d9dae2;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.weather h1 {
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 35px;
	text-align: center;
}

.weather form {
	display: flex;
	flex-direction: column;
}

.weather label {
	color: #555;
	font-family: "Ubuntu", sans-serif;
	margin-bottom: 10px;
	font-weight: bold;
}

.weather input[type="text"] {
	font-family: "Ubuntu", sans-serif;
	padding: 5px;
	margin-bottom: 10px;
}

.weather input[type="submit"] {
	background-color: #8c49e3;
	color: #fff;
	font-family: "Ubuntu", sans-serif;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.weather input[type="submit"]:hover {
	background-color: #44406d;
}

.api {
	max-width: 600px;
	margin: 25px auto;
	padding: 20px;
	background-color: #d9dae2;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.api h1 {
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 35px;
	text-align: center;
}

.api form {
	display: flex;
	flex-direction: column;
}

.api label {
	color: #555;
	font-family: "Ubuntu", sans-serif;
	margin-bottom: 10px;
	font-weight: bold;
}

.api input[type="text"] {
	font-family: "Ubuntu", sans-serif;
	padding: 5px;
	margin-bottom: 10px;
}

.api input[type="submit"] {
	background-color: #8c49e3;
	color: #fff;
	font-family: "Ubuntu", sans-serif;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.api input[type="submit"]:hover {
	background-color: #44406d;
}